<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>블로그</title>
    </head>

    <body>
        <h1>재원블로그</h1>
        
        <div>
            <p>제목 : <input id="title"></p>
            <p><textarea id="content"></textarea></p>
            <button id="createPost">작성</button>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="/js/main.js"></script>
    </body>
</html>