<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>로그인</title>
</head>

<body>
    <h1 class="display-3 center-block">로그인</h1>
    <p>아이디 : <input id="username"></p>
    <p>비밀번호 : <input id="password"></p>
    <button id="login">로그인</button>
    <button><a href="/login/new">회원가입</a></button>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>

</html>